-if @altura
  .pull-right
    %strong
      ULTIMA ACTUALIZACION: 
      = @altura.actualizacion
  %br
  - if @altura.todo_ok?
    = render partial: 'alerta', locals: {css_class: 'alert alert-success', icon_class: 'icon-thumbs-up icon-2x', texto: "En este momento todo esta tranquilo cerca de tu ubicación", lead: 'Relájate'}
    

  - elsif @altura.alerta?
    = render partial: 'alerta', locals: {css_class: 'alert alert-block', icon_class: 'icon-warning-sign icon-2x', texto: "Estate alerta, tenemos #{@altura.diferencia_alerta} metros por encima del limite de alerta."}
    
  - elsif @altura.evacuacion?
    = render partial: 'alerta', locals: {css_class: 'alert alert-error', icon_class: 'icon-warning-sign icon-2x', texto: "Estamos #{@altura.diferencia_evacuacion} metros por encima del limite de evacuación."}

    


  %h3
    Detalle

  %table{class: 'table'}
    %tr
      %td Río
      %td= @rio.nombre
    %tr
      %td Puerto
      %td= @puerto.nombre
    %tr
      %td Altura actual
      %td= @altura.medicion
    %tr
      %td Altura Anterior
      %td
    %tr{class: 'alert'}
      %td Medida Alerta
      %td= @puerto.altura_alerta
    %tr{class: 'alert-error'}
      %td Medida Evacuación
      %td= @puerto.altura_evacuacion


  %h3 Históricos
  %ul{class: 'nav nav-tabs'}
    %li{class: 'active'}
      %a{href: '#semana',"data-toggle"=>'tab'}
        Ultimas 7 mediciones
    %li
      %a{href: '#mes',"data-toggle"=>'tab'}
        Ultimo Mes



  .tab-content
    #semana{class: "tab-pane active"}
      %table{class: 'table'}
        %tr
          %th Fecha
          %th Medición (Mts.)
          %th Variación (Mts.)
        - @semana.each_with_index do |sem, i|
          %tr
            %td= sem.actualizacion
            %td= sem.medicion
            - if i != 0
              - variacion = sem.medicion - @semana[i-1].medicion
            - else
              - variacion = 0
            %td= variacion.round(2)
- else
  %h1 No se encontraron datos para ese puerto



